:root {
    --color-primary: #FDD968;
    --color-secondary: #563F2F;
 
    --color-text-light: #2e2e31;
    --color-text-dark: #FFFFFB;
    --color-border: #d1d0d2;
 
    --color-success: #88c459;
    --color-error: #f5414f;
    --color-warning: #ffd137;
}