@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap");
.theme-light {
  --color-primary: #FDD968;
  --color-base: #FFFFFB;
  --color-primary-darker: #ffbb00;
  --color-accent: #ef5655;
  --font-color: #563F2F;
}

/* var(--color-primary)
var(--color-primary-darker)
var(--color-secondary)
var(--color-accent)
var(--font-color) */
.theme-dark {
  --color-primary: #ef5655;
  --color-secondary: #563F2F;
  --color-primary-darker: #d83d3d;
  --color-accent: #FFFFFB;
  --font-color: #FDD968;
}

.theme-light {
  --color-primary: #FDD968;
  --color-base: #FFFFFB;
  --color-primary-darker: #ffbb00;
  --color-accent: #ef5655;
  --font-color: #563F2F;
}

/* var(--color-primary)
var(--color-primary-darker)
var(--color-secondary)
var(--color-accent)
var(--font-color) */
.theme-dark {
  --color-primary: #ef5655;
  --color-secondary: #563F2F;
  --color-primary-darker: #d83d3d;
  --color-accent: #FFFFFB;
  --font-color: #FDD968;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Amiri', 'Sawarabi Mincho';
  color: #563F2F;
}

body {
  background-color: #FDD968;
  min-height: 100vh;
  position: relative;
  /*←相対位置*/
  box-sizing: border-box;
  /*←全て含めてmin-height:100vhに*/
  padding-top: 79px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #563F2F;
}
a:hover {
  text-decoration: none;
  color: #563F2F;
}

hr {
  margin-top: 0px;
  margin-bottom: 5px;
  border-color: #563F2F;
  border-width: 3px;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.section h3 {
  margin-bottom: 0px;
}

.section-title {
  margin-bottom: 25px;
}

.section-title-sub {
  background-color: #FDD968;
  margin-top: -73px;
  margin-bottom: 30px;
  width: 10rem;
}

.section-sub {
  padding: 60px;
  padding-bottom: 40px;
  margin: 0px;
  margin-top: 60px;
  border: solid 1px #563F2F;
}

/* SWITCHER */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* background templates */
.back-white {
  color: #563F2F;
  background-color: #FFFFFB;
}

.back-yellow {
  color: #563F2F;
  background-color: #FDD968;
}

.back-brown {
  color: #FFFFFB;
  background-color: #563F2F;
}

.back-red {
  background-color: #ef5655;
}

/* BUTTONS */
.btn {
  margin-top: 10px;
  border: none;
}
.btn:hover {
  color: #563F2F;
  background-color: #ffbb00;
  border: none;
}

.btn-more {
  padding: 20px;
  margin: auto;
}

.btn-mylinks {
  padding: 10px;
}

.drop-shadow {
  filter: drop-shadow(1px 1px 5px #00000030);
}

.inactive {
  display: none;
}

/* PAGES??? */
.links-block {
  padding-right: 30px;
  padding-left: 30px;
}

#kotlin-icon {
  width: 56px;
}

.overview-list li {
  margin: 0.6em 0px;
}

/* NOT USED but incase, for progressbar */
progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  border-radius: 20px;
}

progress[value]::-webkit-progress-bar {
  background-color: #FFFFFB50;
  border-radius: 20px;
}

::-webkit-progress-value {
  background-color: #563F2F;
  border-radius: 20px;
}

/* NOT USED for forms */
form {
  max-width: 540px;
}

.form-control {
  border: 1px solid #563F2F;
  height: initial;
}

.form-group {
  margin: 20px auto;
}

.form-border {
  padding: 30px 20px;
  border: solid 1px #563F2F;
}

.theme-light {
  --color-primary: #FDD968;
  --color-base: #FFFFFB;
  --color-primary-darker: #ffbb00;
  --color-accent: #ef5655;
  --font-color: #563F2F;
}

/* var(--color-primary)
var(--color-primary-darker)
var(--color-secondary)
var(--color-accent)
var(--font-color) */
.theme-dark {
  --color-primary: #ef5655;
  --color-secondary: #563F2F;
  --color-primary-darker: #d83d3d;
  --color-accent: #FFFFFB;
  --font-color: #FDD968;
}

/* navbar */
.navbar-dark {
  background-color: #563F2F;
  filter: drop-shadow(1px 1px 5px #00000030);
}

.navbar-dark .navbar-toggler-icon {
  margin: 5px auto;
  background-image: url(../images/ham-icon.png);
}

/* hamburger */
#hamburger {
  transition: all 500ms 0s ease;
}

.rotate {
  transform: rotate(90deg);
}

/* disable hamburger border */
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

#kdlogo {
  width: 100px;
  margin: auto;
}

.navbar-empty {
  height: 79px;
}

.theme-light {
  --color-primary: #FDD968;
  --color-base: #FFFFFB;
  --color-primary-darker: #ffbb00;
  --color-accent: #ef5655;
  --font-color: #563F2F;
}

/* var(--color-primary)
var(--color-primary-darker)
var(--color-secondary)
var(--color-accent)
var(--font-color) */
.theme-dark {
  --color-primary: #ef5655;
  --color-secondary: #563F2F;
  --color-primary-darker: #d83d3d;
  --color-accent: #FFFFFB;
  --font-color: #FDD968;
}

.jumbotron {
  margin-bottom: 0px;
}

.jumbotron-extend {
  position: relative;
}

.jumbotron-extend {
  background: url("../images/aeious-top-h.png") no-repeat center center;
  background-size: cover;
}

.jumbotron-container {
  position: relative;
}

#top-sq {
  height: 250px;
  width: 300px;
  background-color: #ffd45c;
  filter: blur(0px);
}

.theme-light {
  --color-primary: #FDD968;
  --color-base: #FFFFFB;
  --color-primary-darker: #ffbb00;
  --color-accent: #ef5655;
  --font-color: #563F2F;
}

/* var(--color-primary)
var(--color-primary-darker)
var(--color-secondary)
var(--color-accent)
var(--font-color) */
.theme-dark {
  --color-primary: #ef5655;
  --color-secondary: #563F2F;
  --color-primary-darker: #d83d3d;
  --color-accent: #FFFFFB;
  --font-color: #FDD968;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.card {
  border: solid 3px #FDD968;
  border-radius: 12px;
  filter: drop-shadow(1px 1px 5px #00000030);
}
.card:hover {
  border: solid 3px #ffbb00;
}

.card-img-top {
  padding: 2px;
  filter: grayscale(100%) blur(0.5px);
}

.card-title, .card-text {
  margin-bottom: 0px;
}

.card-body {
  border: solid 2px #FDD968;
  border-radius: 10px;
}

@media screen and (max-width: 480px) {
  .card-description {
    display: none;
    white-space: nowrap;
    overflow: hidden;
  }

  .card-text, .card-title {
    white-space: nowrap;
    overflow: hidden;
  }
}
.theme-light {
  --color-primary: #FDD968;
  --color-base: #FFFFFB;
  --color-primary-darker: #ffbb00;
  --color-accent: #ef5655;
  --font-color: #563F2F;
}

/* var(--color-primary)
var(--color-primary-darker)
var(--color-secondary)
var(--color-accent)
var(--font-color) */
.theme-dark {
  --color-primary: #ef5655;
  --color-secondary: #563F2F;
  --color-primary-darker: #d83d3d;
  --color-accent: #FFFFFB;
  --font-color: #FDD968;
}

footer {
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  background-color: #563F2F;
  color: #FFFFFB;
}
footer #footer-name {
  margin-top: 7px;
  margin-left: 16px;
}

#kdlogo-name {
  max-width: 180px;
}

/* scss kaedei$ sass style.scss:style.css --style expanded --watch */

/*# sourceMappingURL=style.css.map */
