:root {
    --color-primary: #FDD968;
    --color-secondary:#563F2F;
    --color-base: #FFFFFB;
    --color-primary-darker: #ffbb00;
    --color-accent: #ef5655;
    --font-color: #563F2F;
}
/* .theme-dark {
    --color-primary: #ef5655;
    --color-secondary: #563F2F;
    --color-primary-darker: #d83d3d;
    --color-accent: #FFFFFB;
    --font-color: #FDD968;
} */
