.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.card {
    border: solid 3px var(--color-primary);
    border-radius: 12px;
    filter: drop-shadow(1px 1px 5px #00000030);
    &:hover {
    border: solid 3px var(--color-primary-darker);
    }
}

.card-img-top {
    filter: grayscale(100%) blur(0.5px);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: -5px;
    z-index: -1;
}

.card-title, .card-text {
    margin-bottom: 0px;
    white-space: nowrap;
    overflow: hidden;
}

.card-body {
    border: solid 2px var(--color-primary);
    border-radius: 8px;
}

@media screen and (max-width:480px){
    .card-description{
        display: none;
        white-space: nowrap;
        overflow:hidden
    }
    .card-text, .card-title{
        white-space: nowrap;
        overflow:hidden;
    }
    .card-body {
        padding: 1rem;
    }
}