@import "../setting/colors.scss";

footer {
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  background-color: $secondary-color;
  color: $base-color;
  #footer-name {
    margin-top: 7px;
    margin-left: 16px;
  }
}

#kdlogo-name {
    max-width: 180px;
}