/* navbar */
.navbar-dark {
    background-color: var(--color-secondary);
    filter: drop-shadow(1px 1px 5px #00000030);
}

.navbar-dark .navbar-toggler-icon {
    margin: 5px auto;
    background-image: url(../images/ham-icon.png);
}

/* hamburger */
#hamburger {
    transition: all 500ms 0s ease;
}

.rotate {
    transform: rotate(90deg);
}
/* disable hamburger border */
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

#kdlogo {
    width: 100px;
    margin: auto;
}
.navbar-empty {
    height: 79px;
}